* {
    border: none;
    border-radius: 0;
    font-family: "Hack Nerd Font";
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(40, 42, 54, 0.9);
}

#custom-battery,
#custom-temp,
#custom-cpu,
#custom-nettraf,
#idle_inhibitor,
#language {
    color: #9F87AF;
}

#custom-light,
#custom-memory,
#custom-internet,
#idle_inhibitor,
#custom-vol,
#custom-clock {
    color: #B1DDF1;
}

#custom-light,
#custom-clock,
#custom-battery,
#idle_inhibitor,
#custom-cpu,
#custom-memory,
#custom-temp,
#custom-nettraf,
#custom-internet,
#language {
    padding: 0 2px;
    margin: 0 2px;
}

#workspaces button.active {
	background: #9F87AF;
}

#workspaces button:hover {
	background: #9F87AF;
}
