* {
    border: none;
    border-radius: 0;
    font-family: "Hack Nerd Font";
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(40, 42, 54, 0.9);
}



#battery,
#temperature,
#cpu,
#pulseaudio,
#clock {
    color: #9F87AF;
}


#backlight,
#memory,
#network,
#language {
    color: #B1DDF1;
}

#backlight,
#memory,
#network,
#language,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray,
#idle_inhibitor,
#language {
    padding: 0 8px;
    margin: 0 8px;
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#temperature.critical {
    color: #eb4d4b;
}

#idle_inhibitor {
    color: #2d3436;
}

#workspaces button.active {
	background: #9F87AF;
}
#workspaces button:hover {
	background: #9F87AF;
}
