* {
    border: none;
    border-radius: 0;
    font-family: "Hack Nerd Font";
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(40, 42, 54, 1.0);
}

#privacy,
#battery,
#temperature,
#cpu,
#idle_inhibitor,
#clock,
#language {
    color: #9F87AF;
}

#bluetooth,
#backlight,
#memory,
#network,
#idle_inhibitor,
#wireplumber {
    color: #B1DDF1;
}

#backlight,
#clock,
#battery,
#idle_inhibitor,
#cpu,
#memory,
#temperature,
#network,
#wireplumber,
#language {
    padding: 0 2px;
    margin: 0 2px;
}

#workspaces button.active {
	background: #9F87AF;
}

#workspaces button:hover {
	background: #9F87AF;
}
